/* index.css */
/* index.css */
body {
  margin: 0;
  padding: 0;
  background-color: #171716;
  

  background-image: radial-gradient(#555554 2px, transparent 2px);
  
  background-size: 40px 40px; 
  
  background-attachment: fixed;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}


button, .btn-ribbon, .nav-ribbon, .back-ribbon, .chat-btn {
  background-color: #333332 !important;
  color: white !important;
  border: 4px solid #171716 !important; /*  Gray Gap */
  outline: 2px solid white !important;  /* White Border */
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 10px 20px;
  letter-spacing: 1px;
}

button:hover {
  background-color: #444443 !important;
  transform: scale(1.02);
}
